#header{
  padding: 20px;
  text-align: center;
  border: solid 2px black;
  background-color:PeachPuff;
}
#nav{
  
  padding: 5px;
  text-align: center;
  border: solid 2px black;
  background-color:Khaki;
}